<div id="kontakt" class="component-padding"> 
<h3 style="color: #C00000"> KONTAKT </h3>

<div style="display: flex"> 

<div> 

<p class="left-comment"> 
</p>

</div>
<div class="about-us">
    <p>
        W sprawie wycen prosimy kontaktować się drogą e-mail lub telefonicznie.
    </p>
    <p>
        Do każdej sprawy podchodzimy indywidualnie.
    </p>
    <div class="contact-flex">
        <div style="display:flex; flex-direction: column;">
        <div>MS Biuro Projektów  </div>
        <a href="mailto:biuro.msbp&#64;gmail.com">biuro.msbp&#64;gmail.com</a>
        <div>+48 530 618 532        </div>
        </div>
        <div style="display:flex; flex-direction: column;">
        <div>ul. Olesińska 21 lok. 118  </div>
        <div>02-548 Warszawa  </div>
        <div>POLSKA  </div>
        </div>
    </div>
</div>
</div>
